* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
.home,
.weather {
  min-height: 100vh;
  min-width: 100vw;
}

.home {
  background-color: rgb(140, 130, 212);
  overflow: hidden;
  padding: 150px 30px 30px 30px;

  img {
    width: 70%;
    max-width: 500px;
    height: auto;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 60px;
    margin: 0;
    line-height: 60px;
    font-family: sans-serif;
    font-weight: 100;

    strong {
      font-weight: 700;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;

    .get-started {
      font-size: 25px;
      margin-top: 50px;
      background-color: blue;
      color: white;
      border: none;
      padding: 10px 45px;
      border-radius: 25px;
      width: 70%;
      margin: 50px auto 10px;
    }

    a {
      text-decoration: none;
      font-size: 15px;
    }
  }
}

.weather {
  background-color: green;
}
